body {
    background: #f5f5f5;
    background-size: cover;
    height: 100vh;
}
.main header {
    min-height: 200px;
}
header img {
    margin: 0 auto;
    padding: 10px 0;
    display: block;
}
.main .login {
    min-height: 500px;
}
.select2-dropdown, .select2-selection {
    width: 250px;
}
.main .login-form input {
    width: 100%;
}
.login ul li {
    display: inline;
}
footer img {
    position: absolute;
    bottom: 0;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
}
.content-block {
    margin-bottom: 80px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
#user .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}
#user p {
    margin: 0;
}
.paginator {
    display: flex;
    padding: 10px 0;
}
.curent {
    padding: 0 10px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
.inline-input .input-sm {
    height: 20px;
    width: 20px !important;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}
.sat {
    background-color: #D3D3D3;
}
.sun {
    background-color: #A9A9A9;
}
.refresh, #form10, .inline {
    display: inline;
}
.tableObject .editable-inline > div {
    width: 40px;
}
.tableObject .form-inline .form-control {
    width: 100% !important;
}
.fio form {
    display: inline;
}
.paginator .fas {
    font-size: 22px;
}
.paginator button {
    border: 0;
    background: 0;
}
.fio .inputType {
    width: 50px;
    paddin: 0 5px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid gray;
}

.tabel td {
    padding: 0 !important;
}